@import '../../styles/params.scss';

.multi {
    width: $leftSideContainer;
}


.section{
    background: $surface-c;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}