@import "../../styles/params.scss";

.h2{
    font-weight: normal;
    color: $primary;
    font-size: $l;
}

.leftSide{
    width: $leftSideContainer;
}

.card {
    margin: 5vw;
}

.multi {
    width: 30vw;
}

.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.aside{
    min-width: 255px;
    max-width: 255px;
    padding: 0 40px;
    height: calc(100vh - 70px);
    overflow: auto;
    position: fixed;
    top: 70px;
    left: 0;
    z-index: 10;

    &__list{
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__item{

        &:not(:first-child){
            margin-top: 20px;
        }

        &:not(&_active){
            color: #00000088;
        }

        & > span{
            margin-left: 12px;
        }

    }
}

.contentSide{
    margin-top: 70px;
    margin-left: 255px;
    display: flex;
    justify-content: center;
    overflow: visible;
    width: 100%;
}

.container{
    max-width: $container;
    width: calc(100% - 100px);
    padding-bottom: 30px;
}

.timer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}